@page
@model FilmsWeb.Pages.Frames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Frame[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frame[0].Film)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Frame) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FrameId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FrameId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FrameId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
